<h1><%= @team.name %></h1>

<h2>Matches:</h2>

<h3>Team lineup:</h3>

<table>
    <tr>
        <th>Position</th>
        <th></th>
        <th>Player</th>
        <th></th>
        <th>No.</th>
    </tr>

    <% for player in @team.lineup %>
    <tr>
        <td><%= player.position%></td>
        <td></td>
        <td><%= player.format_name%></td>
        <td></td>
        <td><%= player.shirt_number%></td>
    </tr>
    <% end%>

</table>


<form method="POST" action="/teams/<%= @team.id %>/delete">
<input type="submit" value="Delete Team"/>
</form>

<p>When you delete a team, all games involving this team will also be deleted</p>