<h2><%= @team.name %></h2>

<h3>Matches:</h3>
        <div class="match_colour">
        <% for game in @team.games%>
            
            <li><a href='/games/<%= game.id %>'><%= game.score %></a></li>

            <% end %>
        </div>

<h3>Team lineup</h3>
<div class="image_place">
    <table>
        <tr>
            <th>Position</th>
            <th></th>
            <th class="player_heading">Player</th>
            <th></th>
            <th class="player_heading">Club</th>
            <th></th>
            <th>No.</th>
        </tr>

        <% for player in @team.lineup %>
        <tr>
            <td><%= player.position%></td>
            <td></td>
            <td class="players"><%= player.format_name%></td>
            <td></td>
            <td class="players"><%= player.club %></td>
            <td></td>
            <td><%= player.shirt_number%></td>
        </tr>
        <% end%>

    </table>

    <% if @team.name == 'France' %>
    <img src="/images/france.jpeg" id="image"/>
    <% end %>
    <% if @team.name == 'Brazil' %>
    <img src="/images/brazil.jpeg" id="image"/>
    <% end %>
    <% if @team.name == 'Croatia' %>
    <img src="/images/croatia.jpeg" id="image"/>
    <% end %>
    <% if @team.name == 'Netherlands' %>
    <img src="/images/netherlands.jpeg" id="image"/>
    <% end %>
    <% if @team.name == 'Scotland' %>
    <img src="/images/scotland.jpeg" id="image"/>
    <% end %>
    <% if @team.name == 'Nigeria' %>
    <img src="/images/nigeria.jpeg" id="image"/>
    <% end %>
    <% if @team.name == 'Italy' %>
    <img src="/images/italy.jpeg" id="image"/>
    <% end %>
    <% if @team.name == 'Argentina' %>
    <img src="/images/argentina.jpeg" id="image"/>
    <% end %>
    <% if @team.name == 'Germany' %>
    <img src="/images/germany.png" id="image"/>
    <% end %>
    <% if @team.name == 'Denmark' %>
    <img src="/images/denmark.jpeg" id="image"/>
    <% end %>
    <% if @team.name == 'England' %>
    <img src="/images/england.jpeg" id="image"/>
    <% end %>
</div>

<form method="POST" action="/teams/<%= @team.id %>/delete">
<input class="button" type="submit" value="Delete Team"/>
</form>

<p id="delete_team">When you delete a team, all games involving this team will also be deleted.</p>