<h1><%= @team.name %></h1>

<h3>Matches:</h3>
        <div>
        <% for game in @team.games%>
            
            <li><a href='/games/<%= game.id %>'><%= game.score %></a></li>

            <% end %>
        </div>

<h3>Team lineup</h3>

<table class="lineup">
    <tr>
        <th>Position</th>
        <th></th>
        <th>Player</th>
        <th></th>
        <th>No.</th>
    </tr>

    <% for player in @team.lineup %>
    <tr>
        <td><%= player.position%></td>
        <td></td>
        <td class="players"><%= player.format_name%></td>
        <td></td>
        <td><%= player.shirt_number%></td>
    </tr>
    <% end%>

</table>

<% if @team.name == 'France' %>
<img src="/images/france.jpeg"/>
<% end %>
<% if @team.name == 'Brazil' %>
<img src="/images/brazil.jpeg"/>
<% end %>
<% if @team.name == 'Croatia' %>
<img src="/images/croatia.jpeg"/>
<% end %>
<% if @team.name == 'Netherlands' %>
<img src="/images/netherlands.jpeg"/>
<% end %>
<% if @team.name == 'Scotland' %>
<img src="/images/scotland.jpeg"/>
<% end %>
<% if @team.name == 'Nigeria' %>
<img src="/images/nigeria.jpeg"/>
<% end %>
<% if @team.name == 'Italy' %>
<img src="/images/italy.jpeg"/>
<% end %>
<% if @team.name == 'Argentina' %>
<img src="/images/argentina.jpeg"/>
<% end %>
<% if @team.name == 'Germany' %>
<img src="/images/germany.png"/>
<% end %>
<% if @team.name == 'Denmark' %>
<img src="/images/denmark.jpeg"/>
<% end %>
<% if @team.name == 'England' %>
<img src="/images/england.jpeg"/>
<% end %>

<form method="POST" action="/teams/<%= @team.id %>/delete">
<input type="submit" value="Delete Team"/>
</form>

<p>When you delete a team, all games involving this team will also be deleted</p>