<h1><%= @game.score %></h1>

<p><a href='/teams/<%= @game.home_team_id %>'><%= @game.home_team %></a></p>
<p><a href='/teams/<%= @game.away_team_id %>'><%= @game.away_team %></a></p>

<h3>Team lineups:</h3>

<ul>
    
</ul>

<form method="POST" action="/games/<%= @game.id %>/delete">
<input type="submit" value="Delete Game"/>
</form>
