<h1><%= @game.teams %></h1>

<p><a href='/teams/<%= @game.home_team_id %>'><%= @game.home_team %></a></p>
<p><a href='/teams/<%= @game.away_team_id %>'><%= @game.away_team %></a></p>

<h3>Team lineups:</h3>

<ul>
    
</ul>