<div id="score_heading">
    <h1><a href='/teams/<%= @game.home_team_id %>'><%= @game.home_team %></a> <%= @game.home_goals %> - <%= @game.away_goals %> <a href='/teams/<%= @game.away_team_id %>'><%= @game.away_team %></a></h1>
</div>

    <h3>Team lineups:</h3>

    <div class="lineup_place">
        <table>
            <tr>
                <th>No.</th>
                <th></th>
                <th>Position</th>
                <th></th>
                <th>Player</th>
            </tr>

            <% for player in @game.home_team_lineup %>
            <tr>
                <td><%= player.shirt_number%></td>
                <td></td>
                <td><%= player.position%></td>
                <td></td>
                <td><%= player.format_name%></td>
            </tr>
            <% end%>
        </table>

        <table>
            <tr>
                <th>Player</th>
                <th></th>
                <th>Position</th>
                <th></th>
                <th>No.</th>
            </tr>
            <% for player in @game.away_team_lineup %>
            <tr>
                <td><%= player.format_name%></td>
                <td></td>
                <td><%= player.position%></td>
                <td></td>
                <td><%= player.shirt_number%></td>
            </tr>
            <% end%>
        </table>
    </div>

<form method="POST" action="/games/<%= @game.id %>/delete">
<input type="submit" value="Delete Game"/>
</form>
